.env
.env.*
!.env.example
audio/*
.DS_Store
__pycache__/*
DerivedData/
build/
.bundle/
*.cer
*.key
*.keychain
*.keychain-db
*.mobileprovision
*.p12
*.p8
*.pem
*.pfx
*.provisionprofile
*.xcuserstate
xcuserdata/
fastlane/report.xml
fastlane/README.md
fastlane/.env
fastlane/.env.*
!fastlane/.env.example
fastlane/screenshots/
fastlane/test_output/
vendor/bundle/
